
body {
  background: #05237d;
}


.text {
  margin-top: 3vh;
  text-align: center;
  color: white;
  font-size: 17svh;
  font-family: Bahnschrift, serif;
}

.searchbar {
  display: block;
  margin-right: auto;
  margin-left: auto;

  width: 60%;
  height: 11svh;

  font-size: 8svh;
  font-family: Bahnschrift, serif;
}

.leaflet-container {
  height: 50svh;
  margin-left: 10svw;
  margin-right: 10svw;

  border-color: aliceblue;
}

.backButton {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1svh 1svh 2svh;
  transition-duration: 0.4s;
  cursor: pointer;

  background-color: white;
  color: black;
  border: 1px solid black;
}

.backButton:hover {
  background-color: black;
  color: white;
}

.infotext {
  margin-top: 5svh;
  margin-left: 1svw;
  font-family: Bahnschrift, serif;
  color: white
}

.inforef {
  font-family: Bahnschrift, serif;
  color: lightseagreen;
}

table {
  margin-right: 3%;
  margin-left: 3%;
  width: 95%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table thead tr th {
  color: white;
}

table tbody tr td {
  color: white;
  text-align: center;
}
