
body {
  background: #05237d;
}


.text {
  margin-top: 10vh;
  text-align: center;
  color: white;
  font-size: 17vh;
  font-family: Bahnschrift;
}

.searchbar {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

