
body {
  background: #05237d;
}


.text {
  margin-top: 3vh;
  text-align: center;
  color: white;
  font-size: 17svh;
  font-family: Bahnschrift;
}

.searchbar {
  display: block;
  margin-right: auto;
  margin-left: auto;

  width: 60%;
  height: 11svh;

  font-size: 8svh;
  font-family: Bahnschrift;
}

.leaflet-container {
  height: 50svh;
  margin-left: 10svw;
  margin-right: 10svw;

  border-color: aliceblue;
}
